In [1]:
# import the necessary libraries
import numpy as np
import pandas as pd

# import visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
# Display all the columns in the dataset
pd.set_option('max_columns', None)

# Display at least 100 rows in the dataset
pd.set_option('max_rows', 100)

import re

In [3]:
# load the data
players_df = pd.read_csv('CompleteDataset.csv', index_col=0)
players_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (23,35) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,Finishing,Free kick accuracy,GK diving,GK handling,GK kicking,GK positioning,GK reflexes,Heading accuracy,Interceptions,Jumping,Long passing,Long shots,Marking,Penalties,Positioning,Reactions,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,CAM,CB,CDM,CF,CM,ID,LAM,LB,LCB,LCM,LDM,LF,LM,LS,LW,LWB,Preferred Positions,RAM,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€95.5M,€565K,2228,89,63,89,63,93,95,85,81,91,94,76,7,11,15,14,11,88,29,95,77,92,22,85,95,96,83,94,23,91,92,31,80,85,88,89.0,53.0,62.0,91.0,82.0,20801,89.0,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,ST LW,89.0,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€105M,€565K,2154,92,48,90,95,95,96,77,89,97,95,90,6,11,15,14,8,71,22,68,87,88,13,74,93,95,88,85,26,87,73,28,59,90,85,92.0,45.0,59.0,92.0,84.0,158023,92.0,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,RW,92.0,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,€123M,€280K,2100,94,56,96,82,95,92,75,81,96,89,84,9,9,15,15,11,62,36,61,75,77,21,81,90,88,81,80,33,90,78,24,53,80,83,88.0,46.0,59.0,88.0,79.0,190871,88.0,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,LW,88.0,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€97M,€510K,2291,88,78,86,60,91,83,77,86,86,94,84,27,25,31,33,37,77,41,69,64,86,30,85,92,93,83,87,38,77,89,45,80,84,88,87.0,58.0,65.0,88.0,80.0,176580,87.0,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,ST,87.0,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€61M,€230K,1493,58,29,52,35,48,70,15,14,30,13,11,91,90,95,91,89,25,30,78,59,16,10,47,12,85,55,25,11,61,44,10,83,70,11,NaN,NaN,NaN,NaN,NaN,167495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Information on the data
players_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17981 entries, 0 to 17980
Data columns (total 74 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Name                 17981 non-null  object
 1   Age                  17981 non-null  int64
 2   Photo                17981 non-null  object
 3   Nationality          17981 non-null  object
 4   Flag                 17981 non-null  object
 5   Overall              17981 non-null  int64
 6   Potential            17981 non-null  int64
 7   Club                 17733 non-null  object
 8   Club Logo            17981 non-null  object
 9   Value                17981 non-null  object
 10  Wage                 17981 non-null  object
 11  Special              17981 non-null  int64
 12  Acceleration         17981 non-null  object
 13  Aggression           17981 non-null  object
 14  Agility              17981 non-null  object
 15  Balance              17981 non-null  object
 16  Ball control         17981 non-null  object
 17  Composure            17981 non-null  object
 18  Crossing             17981 non-null  object
 19  Curve                17981 non-null  object
 20  Dribbling            17981 non-null  object
 21  Finishing            17981 non-null  object
 22  Free kick accuracy   17981 non-null  object
 23  GK diving            17981 non-null  object
 24  GK handling          17981 non-null  object
 25  GK kicking           17981 non-null  object
 26  GK positioning       17981 non-null  object
 27  GK reflexes          17981 non-null  object
 28  Heading accuracy     17981 non-null  object
 29  Interceptions        17981 non-null  object
 30  Jumping              17981 non-null  object
 31  Long passing         17981 non-null  object
 32  Long shots           17981 non-null  object
 33  Marking              17981 non-null  object
 34  Penalties            17981 non-null  object
 35  Positioning          17981 non-null  object
 36  Reactions            17981 non-null  object
 37  Short passing        17981 non-null  object
 38  Shot power           17981 non-null  object
 39  Sliding tackle       17981 non-null  object
 40  Sprint speed         17981 non-null  object
 41  Stamina              17981 non-null  object
 42  Standing tackle      17981 non-null  object
 43  Strength             17981 non-null  object
 44  Vision               17981 non-null  object
 45  Volleys              17981 non-null  object
 46  CAM                  15952 non-null  float64
 47  CB                   15952 non-null  float64
 48  CDM                  15952 non-null  float64
 49  CF                   15952 non-null  float64
 50  CM                   15952 non-null  float64
 51  ID                   17981 non-null  int64
 52  LAM                  15952 non-null  float64
 53  LB                   15952 non-null  float64
 54  LCB                  15952 non-null  float64
 55  LCM                  15952 non-null  float64
 56  LDM                  15952 non-null  float64
 57  LF                   15952 non-null  float64
 58  LM                   15952 non-null  float64
 59  LS                   15952 non-null  float64
 60  LW                   15952 non-null  float64
 61  LWB                  15952 non-null  float64
 62  Preferred Positions  17981 non-null  object
 63  RAM                  15952 non-null  float64
 64  RB                   15952 non-null  float64
 65  RCB                  15952 non-null  float64
 66  RCM                  15952 non-null  float64
 67  RDM                  15952 non-null  float64
 68  RF                   15952 non-null  float64
 69  RM                   15952 non-null  float64
 70  RS                   15952 non-null  float64
 71  RW                   15952 non-null  float64
 72  RWB                  15952 non-null  float64
 73  ST                   15952 non-null  float64
dtypes: float64(26), int64(5), object(43)
memory usage: 10.3+ MB

In [5]:
players_df['Preferred Positions'].unique()

array(['ST LW ', 'RW ', 'LW ', 'ST ', 'GK ', 'CDM CM ', 'CB ',
       'RM CM CAM ', 'RM LW ST LM ', 'ST CAM ', 'LW RW ST ',
       'CDM CAM CM ', 'RW CAM ', 'RW RM ', 'CM CDM ', 'LM RM CAM ', 'LB ',
       'CM ', 'LM CM CAM ', 'LM CM ', 'LM RM CAM CM ', 'CM CB LB ',
       'LM LB ', 'ST CAM RW CF ', 'CAM LW ', 'LW ST LM ', 'CAM CM ',
       'CDM CB ', 'ST LW CF ', 'CAM CDM CM ', 'LW LM ', 'RM LM ', 'CDM ',
       'LM RW RM ', 'LB RB CB ', 'LW RW ', 'LW LM RM CAM ', 'RM ',
       'LM CF CAM ', 'RB ', 'LM CAM LW ', 'LM RM CM ', 'CAM LM ',
       'CAM RM RW ', 'RM CAM ', 'CAM LW RW ', 'LM ', 'LM CAM ',
       'CAM CF ST ', 'CM CB CDM ', 'RW ST ', 'RW LW CM ', 'CF CAM ',
       'LW CM ', 'RWB RB ', 'CAM ', 'ST CF ', 'LM ST ', 'CM CAM ',
       'CF ST ', 'CB RB ', 'CF CM CAM ', 'LM CAM RW LW ', 'LM RM ',
       'LM RW LW ', 'LM CF RM ', 'CAM LW CM ', 'ST LM ', 'LM ST RM ',
       'RM RW ', 'RM CM ', 'RB CB ', 'CM RW RB ', 'LM RM RW ', 'RW LW ',
       'CM CDM CB ', 'LB CB ', 'ST RM LM ', 'CAM LM CM ', 'CB CDM ',
       'CAM CM CDM ', 'CAM CF ', 'RM CDM CM ', 'LW RM LM ', 'CAM ST CF ',
       'LWB LB ', 'ST RW ', 'RM CM LM ', 'LW RW CM ', 'RB CM CDM ',
       'RM RB ', 'LW ST ', 'LW ST RW ', 'CDM CB CM RB ', 'CM LB LWB LM ',
       'RM LW RW ', 'RW RM CM ', 'RB LB CB ', 'CM CDM RB ',
       'RW CM RM CAM ', 'LW CAM ', 'RM RWB ', 'CB LB ', 'LB LM LWB ',
       'RM RB CDM CM ', 'CF LW ', 'CAM ST ', 'RM ST LM ', 'CAM RM LM ',
       'RM LB RB ', 'LB CDM ', 'RM RW ST ', 'RW LW LM ', 'RM ST ',
       'RM LM CM ', 'RM LM CF ', 'RM LM CAM ', 'CM LM RM ', 'RWB LM RM ',
       'CM CAM LM ', 'RWB RM ST ', 'CF CDM CM ', 'CB CM CDM ', 'RB LB ',
       'CF LM LW ', 'CAM LM ST ', 'RW CAM RM ', 'LM CDM CAM CM ',
       'ST LM RM ', 'CAM RM ST ', 'CM LB ', 'RM RWB RB ', 'RW RM CAM ST ',
       'CM ST CAM ', 'LW CF CAM ', 'CAM RW LW ', 'RM RW RB ', 'LM LW ',
       'RM LM ST ', 'LB RB ', 'CM RM CAM ', 'RW LW CAM ', 'CAM RWB RM ',
       'RB LM ', 'CAM ST RM ', 'LM CAM CM ', 'LM RM RWB ', 'ST CAM CF ',
       'CM LM ', 'CM CAM RM LM ', 'RW CAM CM ', 'LM LW RW RM ',
       'CAM CDM LM CM ', 'RW LM LW ', 'RW LW ST ', 'CM CF CAM ',
       'CAM RM ', 'LW CM LM ', 'RB RM ', 'CM CAM CDM ', 'CDM RB CB ',
       'RW LM LW RM ', 'LWB CB LB ', 'CAM RM CM ', 'CDM CM CAM ',
       'RW RM LW LM ', 'RB RWB ', 'LM CAM LW RW ', 'CDM CM CB ',
       'CAM LM RM ', 'CB LB RB ', 'CF CAM RM ', 'RW LM RM ', 'CAM RW ',
       'LM ST CAM RM ', 'RW CAM LW ', 'CDM LM CM CAM ', 'ST RM ',
       'CM LM LB ', 'CF CM ', 'LM ST CF CAM ', 'LM CAM ST ',
       'CM CDM CAM ', 'LM LWB LB ', 'CM RM RB ', 'RW CAM ST LW ',
       'RM RB LB ', 'LM LW CAM ', 'CF CAM ST LM ', 'CAM CM LM ',
       'RM CM CDM ', 'LM CAM CF ST ', 'RB CDM CB ', 'RB CB CM CDM ',
       'LW RW LM RM ', 'RM CAM CM ', 'CM CAM LM RM ', 'LM CDM CM CAM ',
       'LM CM CDM ', 'RW LW ST CF ', 'CM LB CAM LM ', 'RM RWB ST ',
       'LM RM ST ', 'ST CM CAM ', 'RW RWB RM ', 'RM RW LW ', 'LW RW CAM ',
       'RM CM ST ', 'CDM RM CM ', 'LB LWB ', 'RWB RB CB CDM ',
       'CF ST LM ', 'ST CAM LM RM ', 'RM LW ', 'LM LW ST ', 'CB CDM CM ',
       'LW CAM RM LM ', 'CF CAM CM ', 'RWB RM ', 'CM RM LM ',
       'RW ST CAM ', 'RM ST CAM ', 'RM LW LM ', 'LW CAM ST ',
       'LM CDM CM ', 'LB LM ', 'RM LW ST RW ', 'RM CAM RW CM ', 'CM RB ',
       'CF RM ', 'LM CAM RM ', 'LM CDM CAM ', 'ST RM CF ', 'LW RW LM ST ',
       'CAM CDM ', 'RW LM ST ', 'CF RM CAM ', 'ST LW LM ',
       'CDM CM ST CAM ', 'CB RB LB ', 'CM RM CAM LM ', 'CAM LM LB ',
       'CDM RB ', 'CDM CAM ', 'LW CM CAM ', 'LM CAM RM RW ', 'LB CDM CB ',
       'RB CB LB ', 'CF CAM ST ', 'ST CF CAM ', 'RW RM LM CAM ',
       'LB LM RB ', 'LW LM RM ', 'CF RM RWB ', 'LB RM ', 'LM LWB ',
       'RM CAM LM ', 'CF LW ST RW ', 'RM LM CM CAM ', 'CM RM ',
       'CM RB CDM ', 'CB CDM RB ', 'LW LB ', 'LM CM RM ', 'LM CAM CM RM ',
       'LB LM CB ', 'RW ST LW ', 'CF LM ST ', 'CM RM RB CDM ',
       'ST RM CAM CDM ', 'CAM CB CDM ', 'CAM ST LW LM ', 'LW RM ',
       'CAM LM LW ', 'CAM CM LM RM ', 'CM LW CAM RW ', 'LWB LB RB LW ',
       'RW LW CAM LM ', 'ST RM RW ', 'RB CDM CM ', 'RW CAM CF RM ',
       'LW LM ST ', 'RM CAM LW RW ', 'LWB LM LB ', 'CDM LM CM ',
       'LM ST CAM ', 'CM LM CAM ', 'ST CAM LM ', 'LW RW CAM CF ',
       'RB CM ', 'RWB LB RB ', 'CF LM ', 'ST LM CAM ', 'CAM ST LM RM ',
       'RM LM CF CM ', 'LW LM CAM ', 'LM CM CF CAM ', 'LM RW LW ST ',
       'ST CAM CM ', 'LW LM RW CM ', 'RB RM CAM ', 'CDM LB ',
       'LM CAM RW ', 'CAM LM RW ', 'RW CF ST ', 'CM LM RB LB ',
       'ST CAM RM LM ', 'LB RB LM ', 'ST CF RW ', 'CF CAM LW LM ',
       'CM RB RWB CB ', 'RB RW ', 'RW ST RM ', 'RM LM CDM CM ',
       'LM ST CF ', 'LM RM CM CAM ', 'CM CB ', 'CAM CM RM LM ',
       'CDM CB CM ', 'CF LM RM ST ', 'CAM RM CF LM ', 'RM LB ',
       'RM LM ST CAM ', 'RW CM ', 'RM RB RWB ', 'LM LW RW ', 'LM LB CB ',
       'LW LM LWB LB ', 'RW CDM CM ', 'ST RM CAM LM ', 'LWB CB ',
       'ST RW CAM ', 'LM CAM LB ', 'CB LWB LB ', 'CDM RM ', 'RW CF LW ',
       'CDM CAM LM CM ', 'LM LW LB CM ', 'LM LB LWB ', 'LM ST LW ',
       'RWB CB RB ', 'RW LW CM RM ', 'LW CAM LM ', 'CDM LM CAM CM ',
       'LB RM RB ', 'LM RM CF CAM ', 'LM CF ', 'RM LM RW LW ',
       'CF ST CAM ', 'RWB RM RB ', 'RB CB CDM ', 'LB CM RB ',
       'RM CM CAM LM ', 'LM LWB RWB ', 'RWB RB CB ', 'CM LM RM CAM ',
       'CM CAM RM ', 'CAM ST LW ', 'LM ST CM ', 'RW LM ', 'CAM ST LM ',
       'CM LB LM ', 'RW RM LW ', 'ST CAM RW ', 'RM RB RW ', 'CDM ST LM ',
       'LM RM CF ', 'CAM RM ST LM ', 'CF RW ', 'CAM LM ST CF ',
       'CAM RM LM ST ', 'LW CF ST ', 'CAM LW LM ', 'CAM ST RM LM ',
       'LM LB RM ', 'ST LW RM RW ', 'LB CB RB ', 'ST RW LW ',
       'RM RB CDM ', 'ST RM LM CAM ', 'RM CAM ST ', 'LM RM RB ',
       'LW RW CF ', 'LM RW ', 'RM CAM RW ', 'CDM CF CM CAM ', 'LB CM LM ',
       'LW CAM CM ', 'LB CDM CM ', 'RWB CM RM LWB ', 'RWB LB CB RB ',
       'CM LM LW CAM ', 'RB LM RM ', 'LW CF RM ', 'CAM CDM CM RM ',
       'CM CB RB ', 'LW RW RM ', 'LB CDM RB ', 'RM CAM LM LW ',
       'RB ST LM RM ', 'CM RW CAM ', 'CB LB LWB ', 'CM LWB LM LB ',
       'RM RB CM ', 'CM RB RM ', 'LB CM CAM ', 'CAM LB LW ', 'CM RW LW ',
       'CAM ST RW ', 'RB CDM ', 'CDM LB CM ', 'LB RM CM CAM ',
       'CDM CM LM ', 'LW ST RM RW ', 'CM RW LW CAM ', 'LM RM RW LW ',
       'RM LM CM CDM ', 'ST CF RM LM ', 'RM LB LM ', 'CAM RW RM ',
       'CB LM LWB LB ', 'ST RM CAM ', 'RB CAM ', 'RB RM CM ',
       'CDM CM CAM LM ', 'CAM CF RM ', 'CF CM ST CAM ', 'CAM CB CM ',
       'LW RM RW ', 'CF CAM LM ', 'LM CDM LB ', 'LW CM CAM RW ',
       'CF CAM RW ', 'RM LB RWB ', 'LW RW CAM RM ', 'CM LM LW ',
       'CF RM LM ', 'CF ', 'LM CAM ST RM ', 'ST RM LW ', 'LW LB LM ',
       'RWB LWB ', 'LB RB RWB ', 'ST LW RW ', 'ST CB ', 'CDM LB RB ',
       'CDM CM LM RM ', 'CB RWB RB ', 'CDM CAM RB CM ', 'RW CM CAM ',
       'LB LM CM ', 'LB LM RM ', 'RWB CAM LM ', 'LB LWB LM ',
       'CDM LM LB ', 'CM LB RB ', 'CAM CM RM ', 'RWB RM RW ', 'CF RM RW ',
       'RM CF ST RW ', 'RB LWB LB ', 'CAM LB ', 'RM LM LWB ',
       'CB RB CDM ', 'CAM LW ST ', 'RB RM LM ', 'ST CAM LM RW ',
       'LM ST RM CAM ', 'CF RW ST ', 'ST CAM CM LM ', 'LM ST RM CF ',
       'RWB CAM RM LM ', 'RM CM CDM CAM ', 'RB ST CAM ', 'LW CAM RW RM ',
       'RW LM RM CAM ', 'LB LM LW ', 'CM CDM CAM LM ', 'CM LM CAM RM ',
       'LM RB RM ', 'RM RW LM ', 'ST LW CAM ', 'LW LB LWB ', 'LB RWB RB ',
       'ST CM LM CAM ', 'CM ST ', 'LM CDM RM CM ', 'CDM LB CB ',
       'ST CAM RM ', 'CAM LM RM ST ', 'RM CAM LM CM ', 'RWB CAM CM ',
       'LB LW LM ', 'CF RW LW CAM ', 'LWB RWB CB ', 'RM LM LB ',
       'LM RM CM CDM ', 'LW CAM RW ', 'RB ST ', 'RW CAM ST ',
       'CAM RM RW ST ', 'CM RM CDM ', 'LB CM CDM ', 'CDM CB RB ',
       'LM LW ST RM ', 'RB RM CAM LM ', 'LWB LM ', 'LW RW ST RM ',
       'LB LW ', 'RB RM RWB ', 'CM CAM LM CDM ', 'CB CM ',
       'LM CF RM CAM ', 'RM ST RW ', 'LM RM LB ', 'CM CB RB CDM ',
       'LM CB LB ', 'LWB CM LM RM ', 'ST CM RM ', 'ST CM RM LM ',
       'RM CAM CM CDM ', 'CAM LW CF ', 'LB CM ', 'RB CDM RM ',
       'ST LM RM CAM ', 'LM RM ST CAM ', 'CDM LM CAM ', 'RWB RW CAM RM ',
       'ST LM CF RM ', 'CF LM RM ', 'CAM LM RM RW ', 'ST LM RW RM ',
       'RM LM LW ', 'RB CAM CM ', 'RB RWB LB LWB ', 'RM LW CAM LM ',
       'CAM RW ST ', 'RW RB ', 'ST CAM RW LW ', 'RM LB LWB LM ',
       'RWB CM RB ', 'RB CDM RM CM ', 'RB RW RM ', 'CAM LM CDM CM ',
       'LB RM LM ', 'CM LW ', 'RM CF CAM ', 'LWB ', 'LM CM CAM RM ',
       'CAM RW CM ', 'LW RW CF CAM ', 'CAM ST CM ', 'CAM ST RW LW ',
       'RB LWB ', 'CDM LM RM CM ', 'LM RWB CM ', 'LM CAM CDM CM ',
       'CM CAM LWB ', 'LB RB CDM ', 'LW RW CM LB ', 'RW CDM RM CM ',
       'CAM CM ST ', 'CM LM RB CAM ', 'LWB RM LM ', 'CM CDM LB ',
       'CM LW ST CAM ', 'CB CM CDM RB ', 'LW CAM LB ', 'LM CM RW ',
       'RM CDM CAM LM ', 'CDM RB CM ', 'LM RM RB LB ', 'CM RM RB CB ',
       'CM CAM ST ', 'RWB LB RM RB ', 'ST CM RW ', 'LB CM CDM RB ',
       'RW RM ST ', 'CM RW CAM LW ', 'RWB ', 'LM CAM CF ',
       'LM RW CAM ST ', 'CDM LM RM ', 'RM CF ST ', 'CAM RM LM CM ',
       'ST LM RW CAM ', 'LM LW RW ST ', 'RWB CB ', 'RM CAM CDM CM ',
       'LWB CM CAM LM ', 'ST LW CAM RW ', 'CAM ST LW CF ', 'CDM CB LB ',
       'ST RW RM ', 'RM CF RW ST ', 'LM CAM CDM ', 'RB LB RM ',
       'CDM CM RM ', 'RM RWB LB RB ', 'RM LM LWB RWB ', 'RM CDM ',
       'CAM RM RB ', 'CM ST LM RM ', 'CAM LM RM CM ', 'CAM LB RM LM ',
       'LM CM RM CAM ', 'RM RB LWB RWB ', 'RWB CDM ', 'RW RM RWB RB ',
       'LM RM LB RB ', 'CDM RM CB ', 'RM CM RB ', 'LM CF ST ',
       'LB ST LM ', 'CAM LM RB RM ', 'LB CB CDM ', 'RWB CM ',
       'LW RW RWB ', 'RM RW LW LM ', 'CAM CB ', 'LWB RWB LB RB ',
       'ST LM CM ', 'RM RB CM CDM ', 'LB LM CDM ', 'RM CAM ST LM ',
       'ST CF CM CAM ', 'CM RM RW ', 'CAM CDM RM ', 'CM RM RB RWB ',
       'CDM RWB RB ', 'CM CDM RB RM ', 'CAM RW CF ', 'CDM ST CAM ',
       'CAM CDM RB CM ', 'CB CM CDM CAM ', 'ST CF RM RW ', 'RB RWB RM ',
       'LW RW CF ST ', 'LM RB LB ', 'CM CAM CF LW ', 'CDM RM LM ',
       'LW ST RW CAM ', 'ST CM RM CAM ', 'ST CAM LW ', 'LM RM CDM CM ',
       'ST LM RW ', 'CM LB CDM ', 'CM RM LB RB ', 'RW RB RM ', 'LM CDM ',
       'RM LM CAM ST ', 'RW LM CF ST ', 'CAM LM CM CDM ', 'CDM CAM LM ',
       'CF LW RW ', 'RW RM CB RB ', 'ST CAM LW RW ', 'RM CB RB ',
       'RM CAM ST RW ', 'CB RB CM CDM ', 'LW LM LB ', 'CDM RM LB RB ',
       'ST LM RM CM ', 'RM CM LM CAM ', 'RB CM RM CAM ', 'RM CAM CDM ',
       'CM RM RWB ', 'RB CB CM ', 'RM CF ST LM ', 'RB LB CDM CB ',
       'LM CAM RM CDM ', 'CDM RB LWB CM ', 'LM RW ST ', 'CAM LM RW RM ',
       'CM LM CB CDM ', 'CAM CM LM CDM ', 'ST CAM LM LW ',
       'CM CDM RB RWB ', 'LM LB RM RB ', 'CM RB CB ', 'CAM CF CM ',
       'CDM CAM RM CM ', 'RM CDM CAM CM ', 'RM CF ', 'ST CM ',
       'CF LM CAM ', 'CB CDM LB RB ', 'CM LB LW LM ', 'RB RM ST ',
       'RWB LWB RM LM ', 'LM CM LB ', 'ST LB RB ', 'RB LB CDM ',
       'RW CM ST ', 'CAM LM RM CDM ', 'CDM RWB CB ', 'RW CM LM ',
       'CF RM ST ', 'CDM LWB ', 'LB CB CDM RB ', 'RM CDM LM CM ',
       'ST LW CF RW ', 'CAM CF LW ', 'RM RB LM LB ', 'CB RM LM ',
       'CDM RM RB ', 'RW RM LM ST ', 'CDM CM RB ', 'CM RM LM ST ',
       'CM ST RM LM ', 'LM RM CM RB ', 'RM CB ', 'LM CB CM ', 'CM LB CB ',
       'CM LW RM ', 'RM CB RWB ', 'LWB LM ST ', 'LW RM ST ',
       'LM ST RW LW ', 'RW CAM LM LW ', 'RW LW LM CM ', 'RM LW CAM ',
       'LM RB ', 'LB RB CM ', 'CM CAM ST LM ', 'CDM LM ', 'LWB CB LM LB ',
       'RB RM LM CM ', 'RB RM LM LB ', 'CB CM RM LM ', 'LWB LB ST LM ',
       'RW ST CF ', 'CB ST ', 'RB CM CB CDM ', 'RM RB LM ', 'CF LW CAM ',
       'RWB LW LWB ', 'LB RB RM ', 'RW ST CF CAM ', 'CF RW LW ',
       'ST CDM CM ', 'LWB CAM ', 'CM CAM LW ', 'CF CM RM ', 'LB LM ST ',
       'CM RM LB ', 'LWB RWB RB ', 'ST LB CB ', 'LM CM CB ',
       'LB CM CB CDM ', 'LM ST LW RW ', 'CB RM RB ', 'LWB LB RWB RB ',
       'LM LW LB ', 'LW CAM CF ', 'LWB LB CB ', 'RM LW ST ',
       'LW RW RM ST ', 'RW LB ', 'LWB RB ', 'CB LM ', 'RW CM LW ',
       'LW RM CM ', 'RW CF ', 'CDM RWB ', 'LB RM ST ', 'RB RW ST ',
       'CM CAM RB ', 'LWB LB RB RWB ', 'LW CM RM LM ', 'CAM RB ',
       'CM LW RW ', 'RW LB LW ', 'RW LW LM RM ', 'CAM LW RW ST ',
       'RB ST RM LM ', 'RW CAM CF ST ', 'RW ST CM ', 'LW CAM RM ST ',
       'LM CM CDM LB ', 'ST RM RB ', 'RM CM ST CAM ', 'LB CDM LM CM ',
       'LM RM CDM ', 'ST LM LB ', 'RM LM LB RB ', 'ST LB ', 'RW LWB CF ',
       'CB LB CDM ', 'LB CAM ', 'RM CB CDM RB ', 'CDM ST ', 'RB CDM LB ',
       'CAM LB LW LM ', 'LW CF RW ', 'RM LM CAM CDM ', 'CAM CB CM CDM ',
       'LW ST CAM RW ', 'CM LW LM ', 'CM RM ST LM ', 'RM LM RB ',
       'CB LW LWB LB '], dtype=object)

### Questions
**1)** Who are the best players based on their positions? i.e ST, LW, RW, CAM, CM, CDM, LB, RB, LWB, RWB, CB, GK

**2)** Who are the top earners?

**3)** Who are the least earners?

**4)** Which players have the most value?

**5)** Which players have the least value?

**6)** Which nationality is most represented in the data set?

**7)** Which nationality is least represented in the data set?

**8)** Which players have the most potential?

**9)** Which players are more versatile in terms of 'Preferred Positions'?

**10)** Best penalty, freekick takers?

**11)** Which players have the most aggression? Attackers or Midfielders??

**12)** Which players have the most stamina, ball control? Defenders or Midfielders??

**13)** Which players have the most positioning, jumping? Defenders or Attackers??

In [8]:
# A copy of the data
df = players_df.copy()

#### Data Wrangling
* The data contains a lot of rows and columns that need to be cleaned up.

In [9]:
def split_positions(position):
    """
    This returns a list that's stripped of white spaces.
    eg 'LW LS ' ==> 'LW,LS' 
    """
    value = ''
    lst = position.split()
    lgth = len(lst)
    
    for idx, val in enumerate(lst):
        if (idx + 1) != lgth:  # if it's not the last element
            value += f"{val},"
        else:
            value += f"{val}"
            
    return value

In [14]:
# Remove the whitespaces in 'Preferred Positions'
df['Preferred Positions'] = df['Preferred Positions'].apply(split_positions)

df.sample(3, random_state=6)[['Name', 'Preferred Positions']]

            Name Preferred Positions
280      C. Vela               ST,RW
569    J. Stones                  CB
8731  V. Vermeij                  ST

**Best players by position**

In [15]:
def positions(position):
    """
    This function returns the position of a player. eg 'RM,CDM,CM' ==> 'Attacker',
    'RM,CM,RB' ==> 'Midfielder' 
    """
    lst = position.split(',')
    value = ''
    for val in lst:
        if val in ["ST", "CF", "LW", "RW", "LS", "RS", 'CAM']:
            value += "Attacker "
            
        elif val in ['CDM', 'CM', 'CAM', 'LM', 'RM']:
            value += "Midfielder "
         
        elif val in ['RB', 'LB', 'RWB', 'LWB', 'CB']:
            value += "Defender "
        
        else:
            value += "Goalkeeper"
    value = value.split()[0]
    
    return value.strip()

In [16]:
# Group the players into positions which could be:  "Attacker", "Midfielder", "Defender", or "Goalkeeper" 
df['Position'] = df['Preferred Positions'].apply(positions)

<br>

**Best Attackers:**

In [21]:
# Best Attackers
df.loc[df['Position'] == 'Attacker', 
       ['Name', 'Club', 'Overall', 'Value', 'Wage', 'Finishing', 'Dribbling','Ball control']][:5]

,Name,Club,Overall,Value,Wage,Finishing,Dribbling,Ball control
0,Cristiano Ronaldo,Real Madrid CF,94,€95.5M,€565K,94,91,93
1,L. Messi,FC Barcelona,93,€105M,€565K,95,97,95
2,Neymar,Paris Saint-Germain,92,€123M,€280K,89,96,95
3,L. Suárez,FC Barcelona,92,€97M,€510K,94,86,91
5,R. Lewandowski,FC Bayern Munich,91,€92M,€355K,91,85,89

<br>

**Best Midfielders:**

In [22]:
# Best Midfielders
df.loc[df['Position'] == 'Midfielder', 
       ['Name', 'Club', 'Overall', 'Value', 'Wage', 'Vision', 'Short passing', 'Agility', 'Standing tackle']][:5]

,Name,Club,Overall,Value,Wage,Vision,Short passing,Agility,Standing tackle
8,T. Kroos,Real Madrid CF,90,€79M,€340K,88,90,71,82
11,K. De Bruyne,Manchester City,89,€83M,€285K,90,90,80,51
13,A. Sánchez,Arsenal,89,€67.5M,€265K,83,81,90,39
14,L. Modrić,Real Madrid CF,89,€57M,€340K,90,92,93,80
22,Thiago,FC Bayern Munich,88,€70.5M,€225K,86,91,90,64

<br>

**Best Defenders:**

In [23]:
# Best Defenders
df.loc[df['Position'] == 'Defender', 
       ['Name', 'Club', 'Overall', 'Value', 'Wage', 'Marking', 'Standing tackle', 'Jumping',]][:5]

,Name,Club,Overall,Value,Wage,Marking,Standing tackle,Jumping
10,Sergio Ramos,Real Madrid CF,90,€52M,€310K,86,89,93
17,G. Chiellini,Juventus,89,€38M,€225K,92,92,89
24,L. Bonucci,Milan,88,€44M,€210K,84,88,85
25,J. Boateng,FC Bayern Munich,88,€48M,€215K,88,91,75
26,D. Godín,Atlético Madrid,88,€40M,€125K,87,86,89

<br>

**Best Goalkeepers:**

In [25]:
# Best Goalkeepers
df.loc[df['Position'] == 'Goalkeeper', 
       ['Name', 'Club', 'Overall', 'Value', 'Wage', 'GK handling', 'GK positioning','GK reflexes']][:5]

,Name,Club,Overall,Value,Wage,GK handling,GK positioning,GK reflexes
4,M. Neuer,FC Bayern Munich,92,€61M,€230K,90,91,89
6,De Gea,Manchester United,90,€64.5M,€215K,85,86,90
12,T. Courtois,Chelsea,89,€59M,€190K,91,86,88
18,G. Buffon,Juventus,89,€4.5M,€110K,88,90,84
20,J. Oblak,Atlético Madrid,88,€57M,€82K,90,87,84

In [26]:
# A copy of the data
df_1 = df.copy()

In [27]:
attributes = ['Acceleration', 'Aggression', 'Agility', 'Balance', 'Ball control', 'Composure', 'Crossing', 'Curve',  
    'Dribbling', 'Finishing', 'Free kick accuracy','GK diving', 'GK handling', 'GK kicking', 
    'GK positioning', 'GK reflexes', 'Heading accuracy', 'Interceptions', 'Jumping','Long passing', 
    'Long shots', 'Marking', 'Penalties', 'Positioning','Reactions', 'Short passing', 
    'Shot power', 'Sliding tackle','Sprint speed', 'Stamina', 'Standing tackle', 'Strength', 'Vision','Volleys']

In [29]:
# for col in attributes:
#     print(f"'{col}'==> \n{df_1[col].unique()}\n")
#     print("===" * 30)

In [30]:
# Remove '+' and '-' from each row containing it. 
for col in attributes:
    df_1[col] = np.where(df_1[col].str.contains('\+|-'), 
                         df_1[col].str[:2], 
                         df_1[col])

# # Verify that the columns have been cleaned
# for col in attributes:
#     print(f"'{col}'==> \n{df_1[col].unique()}\n")
#     print("===" * 30)

In [32]:
# Convert the columns to float
for col in attributes:
    df_1[col] = df_1[col].astype('float') 

# # Verify!    
# df_1.info()

In [33]:
# A copy of the data
df_2 = df_1.copy()

# A view of the data
df_2.loc[3:5, ['Name', 'Wage', 'Value', 'Position']]

             Name   Wage Value    Position
3       L. Suárez  €510K  €97M    Attacker
4        M. Neuer  €230K  €61M  Goalkeeper
5  R. Lewandowski  €355K  €92M    Attacker

In [35]:
# # Determine the unoque values in ['Value', 'Wage']
# for col in ['Value', 'Wage']:
#     print(f"{col}==> \n{df_2[col].unique()}")
#     print("===" *28)

In [36]:
# Replace '€0' with '€0K'. This is useful for the string manipulation.
df_2['Value'] = np.where(df_2['Value'] == '€0', '€0K', df_2['Value'])
df_2['Wage'] = np.where(df_2['Wage'] == '€0', '€0K', df_2['Wage'])

In [37]:
df_2['Currency'] = df_2['Value'].str[0]
df_2['Unit'] = df_2['Value'].str[-1]

# Verify that the 'Currency' and 'Unit' were properly extracted
# df_2.loc[:2, ['Name', 'Wage', 'Value', 'Currency', 'Unit', 'Position']]

In [39]:
cols = df_2.columns.tolist()

# rearrange the columns
cols = cols[:9] + cols[-2:] + cols[9:-2]
df_2 = df_2[cols]

# df_2.head(2)

In [40]:
# Extract the Value
df_2['Value'] = df_2['Value'].str[1:-1]

# Extract the Wage
df_2['Wage'] = df_2['Wage'].str[1:-1]

# Rename column from 'Wage' to 'Wage (K)'
df_2 = df_2.rename(columns={'Wage': 'Wage (K)'})

In [41]:
# Verify that the operations in the cell above was properly performed.
# df_2.sample(2, random_state=1)

In [42]:
# # Check for unique values in 'Value', and 'Wage (K)'
# for col in ['Value', 'Wage (K)']:
#     print(f"{col}==> \n {df_2[col].unique()}")
#     print("===" *28)

In [43]:
# Convert to float
for col in ['Value', 'Wage (K)']:
    df_2[col] = df_2[col].astype('float')

# # Verify    
# df_2[['Value', 'Wage (K)']].info()

In [44]:
# Make a copy of the data
df_3 = df_2.copy()

# # Save the cleaned data
# df_3.to_csv('CompleteDataset_cleaned.csv', index=False)